<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="questionDao" class="ru.otus.home1.dao.QuestionDaoCSV">
        <constructor-arg name="csvResourceName" value="/questions.csv"/>
    </bean>

    <bean id="viewService" class="ru.otus.home1.service.ViewServiceConsole" />

    <bean id="runnerService" class="ru.otus.home1.service.RunnerServiceImpl" autowire="constructor"/>

</beans>
