<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Все пользователи</title>
    <!--/*/ <th:block th:include="fragments :: header">
       </th:block> /*/-->
</head>
<body>

<div th:insert="fragments :: menu"/>

<h1>Авторы:</h1>

<table class="mytable" th:if="${users.size()>0}">
    <thead>
    <tr>
        <th>ID</th>
        <th>Логин</th>
        <th>Действие</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}">1</td>
        <td th:text="${user.login}">John Doe</td>
        <td>
            <a href="edit.html" th:href="@{/user/edit(id=${user.id})}">Изменить</a>
            <a href="delete.html" th:href="@{/user/delete(id=${user.id})}">Удалить</a>
        </td>
    </tr>
    </tbody>
</table>

<div class="authors" th:if="${users.size()==0}">
    Нет пользователей! Создайте одного
</div>

<div>
    <a href="create.html" th:href="@{/user/create}">Создать</a>
</div>

</body>
</html>
